<template name="layout">

<div class="container">
  <div class="well">
    {{> yield }}
  </div>
  
      {{#unless connected}}
      <div class="notifications center-block">
        <div class="notification">
          
          <div class="meta">
            <div class="title-notification"><span class="glyphicon glyphicon-cog"></span>Trying to connect</div>
            <div class="description">There seems to be a connection issue</div>
          </div>
        </div>
      </div>
    {{/unless}}
</div>



</template>